body {
  font-size: 10px;
  text-align: center;
  font-family: sans-serif;
  overflow: hidden;
  
  /* fix to force hardware acceleration on iPads. */
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}

/* 
  edx only gives us a max width of 712px to work with, on a Mac laptop. 
  we can shrink text & em-based content from here.
*/
#problem-container { 
  width: calc(100% - 1em);
  margin: 0 auto;
  font-size: calc(1.2 * (1vw + 1vh)/2);
}

.activity, #options {
  border: 2px dotted #ccc;
  border-radius: 0.5em;
  margin: 0.8em 0 0.2em 0;
  position: relative;
}

.activity {
  height: calc(25vh - 1.25em);
  margin-top: 1.5em;
}

#options {
  margin-top: 1.75em;
  height: calc(25vh - 2em);
}

.activity:before,
#options:before {
  display: block;
  content: attr(id);
  text-transform: capitalize;
  margin: -1.6em 0;
  font-size: 1.2em;
  font-weight: bold;
  width: 100%;
  color: #333;
  /* background-color: white; */
  /* border: 1px solid white; */
}
#options:before {
  margin: -1.4em auto;
}

.activity:hover, 
.activity.hovered,
#options {
  border-style: solid;
}

.activity > div,
#options > div {
  position: absolute;
  display: table-cell;
}

.activity > div:not(.guy) {
  border: 1px dashed #eeA320;
  border-radius: 0.25em;
  width: 40%;
  height: 5em;
  text-align: center;
  border-radius: 0.5em;
}

.activity > div:not(.guy) span {
	background-color: #ddd;
	display: inline-block;
	white-space: nowrap;
  padding: 0.1em 0.5em;
	margin: 0.125em;
  border-radius: 0.5em;
  line-height: 1.5em;
  font-size: 1.1em;
  /* cue up fade out */
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -ms-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.activity > div:not(.guy) span.fading {
  opacity: 0;
}

#options > div {
  border: 1px dashed #aaa;
  border-radius: 0.5em;
  width: calc(25% - 1em);
  top: 1.2em;
  height: calc(100% - 2.5em);
}

.activity > div:not(.guy):hover,
.activity > div:not(.guy).hovered {
  border: 1px dashed white;
  background-color: transparent;
}

.activity > div:not(.guy):before,
.activity > div:not(.guy):before {
  display: block;
  content: " ";
  font-size: 0.75em;
  height: 0.2em;
}

.activity > div:not(.guy):hover:before,
.activity > div:not(.guy).hovered:before {
  display: block;
  content: attr(title);
  text-transform: capitalize;
  font-size: 1.2em;
  margin: 0 auto;
  height: 1em;
  color: white;
  background-color: transparent;
  text-align: center;
}

#options > div:before {
  display: block;
  content: attr(title);
  text-transform: capitalize;
  font-size: 1.2em;
  margin: 0.75em auto;
  height: 1em;
  color: #333;
  background-color: transparent;
  text-align: center;
}

#options > div:before {
  height: 0.6em;
}

#options > div:hover
#options > div.hovered {
  border-color: #999;
}

#options > div:hover:before
#options > div.hovered:before {
  color: #333;
}

.activity > div:not(.guy):hover:before,
.activity > div:not(.guy).hovered:before {
  margin: -1.25em auto 0.5em auto;
}

#options > div:before {
  margin: -1.25em auto 1em auto;
}

.activity#screening {
  background-color: #0696B7;
}
.activity#assessment {
  background-color: #009D9d;
}
.activity#evaluation {
  background-color: #73A533;
}

/* arrange the four types of drop zones around the 'guy', who is centered w/in the activity. */
.activity > [title=sources], .activity > [title=sources] > .droptarget {
  left: 0.25em;
  top: calc(50% - 2.1em);
}
.activity > [title=outcomes], .activity > [title=outcomes] > .droptarget {
  right: 0.25em;
  top: calc(50% - 2.1em);
}
.activity > [title=actors], .activity > [title=actors] > .droptarget {
  top: 1.5em;
  left: 30%;
}
.activity > [title=actions], .activity > [title=actions] > .droptarget {
  bottom: 0.25em;
  left: 30%;
}



.activity > .guy {
  background-image: url("stick-figure1.png");
  background-size: cover;
  width: 1.75em;
  height: 3.5em;
  top: calc(50% - 1.375em);
  left: calc(50% - 0.875em);
}

.guy:before, .guy:after {
  content: "\021c9";
  font-size: 2em;
  color: #eea320;
  position: relative;
  display: table-cell;
  padding-top: 0.25em;
}

.guy:before {
  left: -1em;
}

.guy:after {
  left: 0.5em;
}

#options > [title=actors], #options > [title=actors] > .well{
  left: 0.5em;
}

#options > [title=actions], #options > [title=actions] > .well{
  left: calc(25% + 0.5em);
}

#options > [title=sources], #options > [title=sources] > .well{
  left: calc(50% + 0.5em);
}

#options > [title=outcomes], #options > [title=outcomes] > .well{
  left: calc(75% + 0.5em);
}

#options span,
span.clone {
  display: block;
  color: #999;
  background-color: #efefef;
  border-radius: 0.5em;
  margin: 0.125em 0.5em;
  padding: 0.0625em 0.25em;
  
  /* cue up fade out */
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -ms-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

#options span.fading,
span.clone.fading {
  opacity: 0;
}

#options span:hover,
span.dragging {
  color: black;
  background-color: #ddd;
}

.dragging {
  position: absolute;
}

.droptarget.drop-active {
  border-color: #aaa;
}

.droptarget.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.well.can-drop {
  color: #000;
  background-color: #4e4;
}
