body {
  font-size: 10px;
  text-align: center;
  font-family: sans-serif;
}

/* 
  edx only gives us a max width of 712px to work with, on a Mac laptop. 
  we can shrink text & em-based content from here.
*/
#problem-container { 
  width: 50vw;
  margin: 0 auto;
  font-size: 1vw;
}

.activity, #options {
  border: 2px dotted #eee;
  border-radius: 0.5em;
  margin: 0.8em 0 0.2em 0;
  position: relative;
}

.activity {
  height: calc(25vh - 1.25em);
}

#options {
  margin-top: 1.5em;
  height: calc(25vh - 2em);
}

.activity:before,
#options:before {
  display: block;
  content: attr(id);
  text-transform: capitalize;
  margin: -0.625em auto;
  font-size: 0.75em;
  font-weight: bold;
  width: 6.25vw;
  color: #666;
  background-color: white;
}

.activity:hover, 
.activity.hovered,
#options {
  border-style: solid;
}

.activity > div,
#options > div {
  position: absolute;
  display: table-cell;
}

.activity > div:not(.guy) {
  border: 1px dashed #dedede;
  border-radius: 0.25em;
  width: 20em;
  height: 3em;
}

#options > div {
  border: 1px dashed #dedede;
  border-radius: 0.5em;
  width: calc(25% - 1em);
  top: 1em;
  height: calc(100% - 1.5em);
}

.activity > div:not(.guy):hover,
.activity > div:not(.guy).hovered {
  border: 1px solid #ccc;
  background-color: #fafafa;
}
.activity > div:not(.guy):hover:before,
.activity > div:not(.guy).hovered:before,
#options > div:before {
  display: block;
  content: attr(title);
  text-transform: capitalize;
  font-size: 0.625em;
  width: 5vw;
  color: #999;
  background-color: white;
}

#options > div:hover
#options > div.hovered {
  border-color: #999;
}

#options > div:hover:before
#options > div.hovered:before {
  color: #333;
}

.activity > div:not(.guy):hover:before,
.activity > div:not(.guy).hovered:before {
  margin: -1.25em auto;
}

#options > div:before {
  margin: -1.25em auto 1em auto;
}

.activity#screening {
  border-color: lightgreen;
}
.activity#assessment {
  border-color: lightblue;
}
.activity#evaluation {
  border-color: gold;
}

/* arrange the four types of drop zones around the 'guy', who is centered w/in the activity. */
.activity > [title=sources] {
  left: 0.25em;
  top: calc(37.5% + 0.5em);
}
.activity > [title=outcomes] {
  right: 0.25em;
  top: calc(37.5% + 0.5em);
}
.activity > [title=actors] {
  top: 1.25em;
  left: calc(50% - 10em);
}
.activity > [title=actions] {
  bottom: 0.25em;
  left: calc(50% - 10em);
}

.activity > .guy {
  background-image: url("stick-figure1.png");
  background-size: cover;
  width: 1.75em;
  height: 3.5em;
  top: calc(50% - 1.375em);
  left: calc(50% - 0.875em);
}

.guy:before, .guy:after {
  content: "\021c9";
  font-size: 2em;
  color: #aaa;
  position: relative;
  display: table-cell;
  padding-top: 0.25em;
}

.guy:before {
  left: -1em;
}

.guy:after {
  left: 0.5em;
}

#options > [title=actors] {
  left: 0.5em;
}

#options > [title=actions] {
  left: calc(25% + 0.5em);
}

#options > [title=sources] {
  left: calc(50% + 0.5em);
}

#options > [title=outcomes] {
  left: calc(75% + 0.5em);
}

#options span,
span.clone {
  display: block;
  color: #999;
  background-color: #efefef;
  border: 1px solid #eee;
  border-radius: 0.5em;
  margin: 0.5em;
  padding: 0.0625em 0.25em;
}

#options span:hover,
span.dragging {
  color: black;
  background-color: #ddd;
}

.dragging {
  position: absolute;
}